ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  body{
    background-color: rgb(222, 222, 216);
  }

  header{
text-align: center;
vertical-align:middle;
font-size: 18px;
padding: 10px;
  }

.container{
    margin: 0 auto;
}

  li {
    transition: opacity 0.5s ease;
    cursor: pointer;
    text-decoration: line-through;
  }

#nova-tarefa{
  background-color:rgba(248, 239, 239, 0.893);
  padding: 10px;
  width: 258px;
}
#submit{
background-color: green;
color:white;
width: 140px;
padding: 10px;
}